<form [formGroup]="accountForm" (ngSubmit)="addAccount()" class="flex flex-col space-y-6 py-4 px-6 text-black">
    <div class="w-full flex items-center justify-center">
        <div class="relative">
            <div draggable="true" [ngClass]="fileDropArea" (click)="fileInput.click()" class="drag-area w-24 h-24 flex items-center justify-center rounded-full">
                <img *ngIf="profileImg" [src]="imageUrl" class="object-cover w-full h-full rounded-full">
                <i *ngIf="!profileImg" class="pi pi-camera opacity-60" style="font-size:24px"></i>
                <input #fileInput accept="image/*" type="file" class="hidden" (change)="onSelectFile($event)"/>
            </div>
            <button *ngIf="profileImg" type="button" (click)="removeFile()" class="absolute top-0 right-0 flex items-center justify-center space-x-2 p-1.5 rounded-full border bg-gray-100">
                <i class="pi pi-times text-gray-800" style="font-size:12px"></i>
            </button>
        </div>
    </div>
    <div class="w-full">
        <label for="username" class="form-label">Username*</label>
        <input type="text" pInputText placeholder="Enter username" formControlName="username" required>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter username
        </div>
    </div>
    <div class="w-full">
        <label for="password" class="form-label">Password*</label>
        <input type="password" pInputText placeholder="Enter password" formControlName="password" required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="font-regular text-sm text-red-400 pt-1">
            <div *ngIf="password.errors?.['required']">
                Please enter password
            </div>
            <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters long.
            </div>
        </div>
    </div>
    <div class="w-full">
        <label for="fullname" class="form-label">Full Name*</label>
        <input type="text" pInputText placeholder="Enter fullname" formControlName="fullname" required>
        <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter full name
        </div>
    </div>
    <div class="w-full">
        <label for="email" class="form-label">Email</label>
        <input type="text" pInputText placeholder="Enter email" formControlName="email" required>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter a valid email
        </div>
    </div>
    <div class="w-full">
        <label for="contactNo" class="form-label">Contact No</label>
        <input type="text" pInputText placeholder="Enter contact no" formControlName="contactNo" required>
    </div>
    <div class="w-full">
        <label for="division" class="form-label">Division*</label>
        <p-dropdown [options]="divisions" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Select division" formControlName="divisionId" required></p-dropdown>
        <div *ngIf="divisionId.invalid && divisionId.touched" class="font-regular text-sm text-red-400 pt-1">
            Please select division
        </div>
    </div>
    <div class="w-full">
        <label for="roleId" class="form-label">Role*</label>
        <p-dropdown [options]="roles" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Select role" formControlName="roleId" required></p-dropdown>
        <div *ngIf="roleId.invalid && roleId.touched" class="font-regular text-sm text-red-400 pt-1">
            Please select role
        </div>
    </div>
    <div class="w-full">
        <label for="isActive" class="form-label">Status*</label>
        <div class="py-2 flex flex-row items-center space-x-3">
            <p-inputSwitch formControlName="isActive"></p-inputSwitch>
            <span class="text-xs">{{isActive.value ? 'ACTIVE':'DISABLED'}}</span>
        </div>
    </div>
    
    <div class="w-full flex flex-row items-center justify-center space-x-6">
        <button type="submit" [disabled]="accountForm.invalid || loading" class="button-primary inline-flex items-center space-x-2 scale-110">
            <i *ngIf="loading" class="pi pi-spin pi-spinner" style="font-size: 14px;"></i>
            <span>Submit</span>
        </button>
        <button type="button" (click)="resetForm(accountForm)" class="button-secondary scale-110">Reset</button>
    </div>
</form>