<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8">
    <!--sticky top-0-->
    <div class="flex flex-col divide-y-2 divide-gray-400">
        <div class="flex flex-row justify-between items-center mx-14 py-6">
            <div class="pl-4">
                <a href="#" class="flex items-center space-x-3">
                    <img src="assets/image/logo.png" alt="Logo" class="h-7"/>
                    <span class="text-center font-medium text-2xl italic tracking-widest hover:text-gray-600">TRACC APP</span>
                </a>
            </div>
            <div class="flex space-x-4">
                <button class="inline-flex items-center hover:text-gray-400">
                    <i class="pi pi-envelope" style="font-size: 22px"></i>
                </button>
                <button (click)="profileDrop.toggle($event)" class="inline-flex items-center stroke-black hover:stroke-gray-600 hover:text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 stroke-inherit" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <i class="pi pi-angle-down"></i>
                </button>

                <!-- Dropdown Profile -->
                <p-overlayPanel #profileDrop [dismissable]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'10ms'" [style]="{width:'250px'}">
                    <ng-template pTemplate>
                        <div class="flex flex-col text-black">
                            <div class="py-1">
                                <div href="" class="flex flex-col p-1">
                                    <span class="font-medium text-sm">Signed in as</span>
                                    <span class="font-bold mt-1 text-sm">{{account.username}}</span>
                                </div>
                            </div>
                            <div class="py-1 border-t-2 border-gray-400">
                                <a routerLink="/profile" class="flex items-center p-1 hover:bg-gray-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    <span class="font-medium mt-0.5 text-sm">Profile</span>
                                </a>
                            </div>
                            <div class="py-1 border-b-2 border-gray-400">
                                <a href="" class="flex items-center p-1 hover:bg-gray-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>
                                    <span class="font-medium mt-0.5 text-sm">Settings</span>
                                </a>
                            </div>
                            <div class="py-1">
                                <button (click)="showConfirmationDialog('Logout','Do you want to logout?','logout')" class="w-full flex items-center p-1 hover:bg-gray-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-0.5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                    </svg>
                                    <span class="font-medium mt-0.5 text-sm">Logout</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>

        <nav class="mx-10">
            <ul class="flex flex-row space-x-14 my-6 px-8 items-center">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active" class="nav-button">Dashboard</a>
                </li>
                <li *appHasRole="['ADMIN','SUPERVISOR','DEVELOPER']">
                    <a routerLink="/tickets" routerLinkActive="active" class="nav-button">Tickets</a>
                </li>
                <li *appHasRole="['ADMIN']">
                    <a routerLink="/config" routerLinkActive="active" class="nav-button">Config</a>
                </li>
                <li *appHasRole="['ADMIN']">
                    <a routerLink="/accounts" routerLinkActive="active" class="nav-button">Accounts</a>
                </li>
                <li *appHasRole="['USER']">
                    <a routerLink="/my-ticket" routerLinkActive="active" class="nav-button">My Tickets</a>
                </li>
                <li *appHasRole="['DEVELOPER']">
                    <a routerLink="/my-task" routerLinkActive="active" class="nav-button">My Tasks</a>
                </li>
            </ul>
        </nav>
    </div>
</div>