<div class="sticky inset-x-0 top-0 z-10 bg-white shadow-md mb-8">
    <div class="flex flex-col divide-y-2 divide-gray-400 py-4 px-10">
        <div class="flex flex-row items-start justify-between py-4 px-4">
            <div class="">
                <a href="#" class="flex items-center space-x-2 hover:text-gray-600">
                    <img src="assets/icons/tracc-512x512.png" alt="Logo" class="h-10" />
                    <span class="text-center font-medium text-2xl italic tracking-widest">TRACC APP</span>
                </a>
            </div>
            <div class="flex space-x-4">
                <button (click)="notificationDrop.toggle($event)" class="inline-flex items-center hover:text-gray-600">
                    <i class="pi pi-envelope" style="font-size: 22px"></i>
                </button>
                <button (click)="profileDrop.toggle($event)" class="inline-flex items-center stroke-gray-800 hover:stroke-gray-600 hover:text-gray-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 stroke-inherit" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <i class="pi pi-angle-down"></i>
                </button>
            </div>
        </div>

        <ul class="flex flex-row items-end justify-start space-x-12 py-4 px-10">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active" class="nav-button border-bca-500">Dashboard</a>
            </li>
            <li *appHasRole="['ADMIN','SUPERVISOR','DEVELOPER']">
                <a routerLink="/tickets" routerLinkActive="active" class="nav-button border-bca-500">Tickets</a>
            </li>
            <li *appHasRole="['ADMIN']">
                <a routerLink="/config" routerLinkActive="active" class="nav-button border-bca-500">Config</a>
            </li>
            <li *appHasRole="['ADMIN']">
                <a routerLink="/accounts" routerLinkActive="active" class="nav-button border-bca-500">Accounts</a>
            </li>
            <li *appHasRole="['USER']">
                <a routerLink="/my-ticket" routerLinkActive="active" class="nav-button border-bca-500">My Tickets</a>
            </li>
            <li *appHasRole="['DEVELOPER']">
                <a routerLink="/my-task" routerLinkActive="active" class="nav-button border-bca-500">My Tasks</a>
            </li>
        </ul>
    </div>
</div>

<p-toast position="top-right"></p-toast>

<!-- Dropdown Notification -->
<p-overlayPanel #notificationDrop [dismissable]="true" [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'10ms'" [style]="{width:'20rem'}">
    <ng-template pTemplate>
        <app-notification-dropdown></app-notification-dropdown>
    </ng-template>
</p-overlayPanel>

<!-- Dropdown Profile -->
<p-overlayPanel #profileDrop [dismissable]="true" [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'10ms'" [style]="{width:'15rem'}">
    <ng-template pTemplate>
        <app-profile-dropdown></app-profile-dropdown>
    </ng-template>
</p-overlayPanel>