<div class="bg-white shadow-md mb-8 p-10">
    <h1 class="font-bold text-lg text-center mb-4">
        Task List
    </h1>
    <div class="card p-8">
        <p-table #ticketTable [value]="myTasks" [loading]="loading" [totalRecords]="totalRecords" [paginator]="true" [rows]="8" [showCurrentPageReport]="true" selectionMode="single" responsiveLayout="scroll" [filterDelay]="0" sortField="dateTaken" [sortOrder]="-1"
            [globalFilterFields]="['ticket.ticketNo','ticket.application.name','ticket.title','ticket.reporter.fullname','ticket.dateAdded','developer.fullname','dateTaken','ticket.status.name']">
            <ng-template pTemplate="caption">
                <div class="px-2 flex items-center justify-between">
                    <button pSortableColumn="dateTaken">Sort Date<p-sortIcon field="dateTaken"></p-sortIcon></button>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search pl-1 opacity-60"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter Tickets" />
                    </span>
                    <div class="flex flex-row space-x-4">
                        <button (click)="getAllTickets()" class="py-2 px-3 flex flex-row items-center space-x-2 rounded-md text-gray-500 hover:bg-gray-300/60">
                            <i class="pi pi-sync" [ngClass]="loading ? 'pi-spin':''" style="font-size:14px"></i>
                            <span class="text-sm text-inherit">Refresh</span>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="body" let-support>
                <a routerLink="../ticket/{{support.ticket.ticketId}}" class="table-list grid grid-cols-2 gap-6 py-4 px-6 lg:grid-cols-6">
                    <div class="col-span-2 lg:col-span-1">
                        <div [class]="'ticket-status-'+support.ticket.status.name" class="w-full h-full flex flex-col items-center justify-center space-y-2 rounded-sm shadow-md px-4 py-10">
                            <i class="pi pi-ticket" style="font-size: 20px;"></i>
                            <span class="font-semibold text-xs">{{support.ticket.ticketNo}}</span>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 lg:py-2">
                            <div class="flex flex-col">
                                <span class="font-semibold text-base uppercase break-words">{{support.ticket.title}}</span>
                                <span class="font-regular text-sm">{{support.ticket.application.name}}</span>
                            </div>
                            <div class="flex flex-row items-center space-x-2">
                                <div [class]="'ticket-status-'+support.ticket.status.name" class="p-1.5 rounded-full"></div>
                                <span class="font-medium text-xs">{{support.ticket.status.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 lg:py-2">
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Date Added</span>
                                <span class="font-regular text-sm text-gray-500">{{support.ticket.dateAdded | date:'EEE, dd MMM yyyy, HH:mm'}}</span>
                            </div>
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Report</span>
                                <span class="font-regular text-sm text-gray-500">{{support.ticket.reporter.fullname}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 lg:py-2">
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Date Taken</span>
                                <span class="font-regular text-sm text-gray-500">{{support.dateTaken | date:'EEE, dd MMM yyyy, HH:mm'}}</span>
                            </div>
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Support</span>
                                <span class="font-regular text-sm text-gray-500">{{support.developer.fullname}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-full h-full flex items-center lg:justify-center">
                            <a routerLink="/ticket-detail/{{support.ticket.ticketId}}" class="flex flex-row space-x-2 items-center hover:text-gray-500">
                                <i class="pi pi-chevron-circle-right" style="font-size: 16px;"></i>
                                <span class="font-medium text-xs">View Details</span>
                            </a>
                        </div>
                    </div>
                </a>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div class="font-medium text-sm text-gray-400 text-center my-10">NO TASKS FOUND</div>
            </ng-template>
        </p-table>
    </div>
</div>