<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket List
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md p-8">
            <p-table #ticketTable [value]="tickets" [loading]="loading" [totalRecords]="totalRecords" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" selectionMode="single" responsiveLayout="scroll" [filterDelay]="0"
                [globalFilterFields]="['ticketNo','application.name','title','reporter.username','dateAdded','support[0].developer.username','support[0].dateTaken','status.name']">
                <ng-template pTemplate="caption">
                    <div class="px-2 flex items-center place-content-between">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search pl-1 opacity-60"></i>
                            <input class="pl-10 py-2 border-2 border-gray-300 rounded-md outline-none text-sm hover:border-gray-400 focus:border-gray-600" type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Tickets" />
                        </span>
                        <div class="flex flex-row space-x-4">
                            <button (click)="refresh()" class="py-2 px-3 flex flex-row items-center space-x-2 rounded-md stroke-gray-500 text-gray-500 hover:bg-gray-300/60">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-inherit" [class.rotate]="loading" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                </svg>
                                <span class="font-medium text-sm text-inherit">Refresh</span>
                            </button>
                            <button (click)="showAddTicketModal()" class="bg-gray-600 rounded-md px-4 py-1 font-medium text-xs text-white hover:bg-gray-800">Add Ticket</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="border-b-2">
                        <th>Ticket No</th>
                        <th>App</th>
                        <th>Title</th>
                        <th>Reporter</th>
                        <th>Date Added</th>
                        <th>Developer</th>
                        <th>Date Taken</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ticket>
                    <tr routerLink="ticket-detail/{{ticket.ticketId}}">
                        <td>{{ticket.ticketNo}}</td>
                        <td>{{ticket.application.name}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.reporter.fullname}}</td>
                        <td>{{ticket.dateAdded | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <span *ngIf="ticket.support[0]">{{ticket.support[0].developer.fullname}}</span>
                            <span *ngIf="!ticket.support[0]">-</span>
                        </td>
                        <td>
                            <span *ngIf="ticket.support[0]">{{ticket.support[0].dateTaken | date:'dd/MM/yyyy'}}</span>
                            <span *ngIf="!ticket.support[0]">-</span>
                        </td>
                        <td>
                            <div [class]="'ticket-status-'+ticket.status.name">{{ticket.status.name}}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            <div class="font-medium text-gray-400 text-center my-2">NO TICKETS FOUND</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- Add Ticket Modal -->
<p-dialog [(visible)]="displayAddTicketModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span class="font-semibold text-2xl">New Ticket</span>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="ticketForm" (ngSubmit)="onSubmitTicket()">
            <div class="flex flex-col py-8 px-24 space-y-8">
                <div class="flex flex-row items-start space-x-8">
                    <label for="application" class="w-1/4 form-field">Application</label>
                    <div class="w-3/4">
                        <select class="form-value appearance-none" formControlName="applicationId">
                            <option value="null" disabled>Select application</option>
                            <option *ngFor="let application of applications" [ngValue]="application.id">{{application.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-row items-start space-x-8">
                    <label for="title" class="w-1/4 form-field">Title</label>
                    <div class="w-3/4">
                        <input type="text" placeholder="Enter title" class="form-value" formControlName="title">
                    </div>
                </div>
                <div class="flex flex-row items-start space-x-8">
                    <label for="description" class="w-1/4 form-field">Description</label>
                    <div class="w-3/4">
                        <input type="text" placeholder="Enter title" class="form-value" formControlName="description">
                    </div>
                </div>
                <div class="flex flex-row items-start space-x-8">
                    <label for="attachments" class="w-1/4 form-field">Attachments</label>
                    <div class="w-3/4">
                        <div class="form-value flex flex-row items-center justify-between">
                            <span>No file chosen</span>
                            <button type="button" (click)="fileInput.click()" class="bg-gray-600 border-2 border-gray-600 rounded-md p-1 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800">
                                Choose File
                                <input #fileInput type="file" multiple class="hidden" (change)="onFileInput($event)" formControlName="attachments" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row items-center justify-center space-x-4 pt-6">
                    <button type="submit" class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-6 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800">Submit</button>
                    <button type="button" (click)="resetForm(ticketForm)" class="w-24 bg-white border-2 border-gray-400 rounded-md px-6 py-1.5 font-medium text-xs text-gray-600 hover:bg-gray-400 hover:text-white">Reset</button>
                </div>
            </div>
        </form>
    </ng-template>
</p-dialog>

<!-- Add Ticket Status -->
<p-dialog [(visible)]="displayAddTicketStatus" [modal]="true" [style]="{width: '25vw'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <span *ngIf="isTicketFormSubmitted" class="font-semibold text-2xl">Success</span>
        <span *ngIf="!isTicketFormSubmitted" class="font-semibold text-2xl">Failed</span>
    </ng-template>
    <ng-template pTemplate="content">
        <span *ngIf="isTicketFormSubmitted" class="font-medium text-base">Ticket has been successfully submitted</span>
        <span *ngIf="!isTicketFormSubmitted" class="font-medium text-base">There was a problem, try again later</span>
    </ng-template>
    <ng-template pTemplate="footer">
        <button (click)="displayAddTicketStatus=false" class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-8 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800">OK</button>
    </ng-template>
</p-dialog>