<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Details
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md py-8 px-16">
            <!-- Header -->
            <div class="py-4 px-10 border-b-2 border-gray-400">
                <div class="flex flex-row px-4">
                    <div class="w-full flex-1 space-x-6">
                        <span class="font-semibold text-sm">Status</span>
                        <span [class]="'ticket-status-PENDING'">PENDING</span>
                    </div>
                    <div class="w-full flex-1 flex flex-row items-center justify-end space-x-6">
                        <button class="w-24 bg-white border-2 border-gray-400 rounded-md px-4 py-1.5 font-medium text-xs text-gray-600">Solve</button>
                        <button class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-4 py-1.5 font-medium text-xs text-white">Withdraw</button>
                    </div>
                </div>
            </div>

            <!-- Body -->
            <div class="px-8 mt-8">
                <!-- Report -->
                <div class="my-2">
                    <div class="bg-gray-400/70 px-4 py-2">
                        <span class="font-bold text-base">REPORT</span>
                    </div>
                    <div class="flex flex-row p-4 space-x-8">
                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Ticket No</span>
                                <span class="w-2/3 ticket-value">T220302AJFB</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Application</span>
                                <span class="w-2/3 ticket-value">CAMS</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Title</span>
                                <span class="w-2/3 ticket-value">Aplikasi CAMS error</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Description</span>
                                <span class="w-2/3 ticket-value">Mencoba mengisi form tapi gatau kenapa tidak bisa kenapa ya</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Attachment</span>
                                <span class="w-2/3 ticket-value">Value 1</span>
                            </div>
                        </div>

                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Date Added</span>
                                <span class="w-2/3 ticket-value">09/04/2022</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Reporter</span>
                                <span class="w-2/3 ticket-value">Maman</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Support -->
                <div class="my-2">
                    <div class="bg-gray-400/70 px-4 py-2">
                        <span class="font-bold text-base">SUPPORT</span>
                    </div>
                    <div class="flex flex-row p-4 space-x-8">
                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Result</span>
                                <span class="w-2/3 ticket-value">No result yet</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Description</span>
                                <span class="w-2/3 ticket-value">No description yet</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Attachment</span>
                                <span class="w-2/3 ticket-value">No attachment yet</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Tags</span>
                                <span class="w-2/3 ticket-value">No tags yet</span>
                            </div>
                        </div>

                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Date Taken</span>
                                <span class="w-2/3 ticket-value">09/04/2022</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Developer</span>
                                <span class="w-2/3 ticket-value">Rainer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Comments
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md p-8">
            Content
        </div>
    </div>
</div>