<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div *ngIf="ticket" class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Details
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md py-8 px-16">
            <!-- Header -->
            <div class="py-4 px-10 border-b-2 border-gray-400">
                <div class="flex flex-row px-4">
                    <div class="w-full flex-1 space-x-6">
                        <span class="font-semibold text-sm">Status</span>
                        <span [class]="'ticket-status-'+ticket.status.name">{{ticket.status.name}}</span>
                    </div>
                    <div class="w-full flex-1 flex flex-row items-center justify-end space-x-6">
                        <button class="w-24 bg-white border-2 border-gray-400 rounded-md px-4 py-1.5 font-medium text-xs text-gray-600 hover:bg-gray-400 hover:text-white">Solve</button>
                        <button class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-4 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800">Withdraw</button>

                        <button (click)="showConfirmationDialog('Take Ticket','Do you want to take this ticket?')" class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-4 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800">Take</button>
                    </div>
                </div>
            </div>

            <!-- Body -->
            <div class="px-8 mt-8">
                <!-- Report -->
                <div class="my-2">
                    <div class="bg-gray-400/70 px-4 py-2">
                        <span class="font-bold text-base">REPORT</span>
                    </div>
                    <div class="flex flex-row p-4 space-x-8">
                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Ticket No</span>
                                <span class="w-2/3 ticket-value">{{ticket.ticketNo}}</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Application</span>
                                <span class="w-2/3 ticket-value">{{ticket.application.name}}</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Title</span>
                                <span class="w-2/3 ticket-value">{{ticket.title}}</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Description</span>
                                <span class="w-2/3 ticket-value">{{ticket.description}}</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Attachment</span>
                                <div class="w-2/3 ticket-value">
                                    <div *ngIf="ticket.attachments">
                                        <div *ngFor="let ticketattachment of ticket.attachments">
                                            <span *ngIf="ticketattachment">{{ticketattachment.fileName}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="!ticket.attachments[0]">No attachment yet</div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Date Added</span>
                                <span class="w-2/3 ticket-value">{{ticket.dateAdded | date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Reporter</span>
                                <span class="w-2/3 ticket-value">{{ticket.reporter.fullname}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Support -->
                <div class="my-2">
                    <div class="bg-gray-400/70 px-4 py-2">
                        <span class="font-bold text-base">SUPPORT</span>
                    </div>
                    <div class="flex flex-row p-4 space-x-8">
                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Result</span>
                                <div class="w-2/3 ticket-value">
                                    <span *ngIf="ticket.support[0]">{{ticket.support[0].result}}</span>
                                    <span *ngIf="!ticket.support[0] || !ticket.support[0].result">No result yet</span>
                                </div>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Description</span>
                                <div class="w-2/3 ticket-value">
                                    <span *ngIf="ticket.support[0]">{{ticket.support[0].description}}</span>
                                    <span *ngIf="!ticket.support[0] || !ticket.support[0].description">No result yet</span>
                                </div>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Attachment</span>
                                <div class="w-2/3 ticket-value">
                                    <div *ngIf="ticket.support[0]">
                                        <div *ngFor="let supportattachment of ticket.support[0].attachments">
                                            <span *ngIf="supportattachment">{{supportattachment.fileName}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="!ticket.support[0] || !ticket.support[0].attachments[0]">No attachment yet</div>
                                </div>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Tags</span>
                                <div class="w-2/3 ticket-value">
                                    <div *ngIf="ticket.support[0]">
                                        <div *ngFor="let tag of ticket.support[0].tags">
                                            <span *ngIf="tags">{{tags.name}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="!ticket.support[0] || !ticket.support[0].tags[0]">No tags yet</div>
                                </div>
                            </div>
                        </div>

                        <div class="w-full flex-1">
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Date Taken</span>
                                <div class="w-2/3 ticket-value">
                                    <span *ngIf="ticket.support[0]">{{ticket.support[0].dateTaken | date:'dd/MM/yyyy'}}</span>
                                    <span *ngIf="!ticket.support[0]">Not yet taken</span>
                                </div>
                            </div>
                            <div class="flex flex-row items-start space-x-8 my-6">
                                <span class="w-1/3 ticket-field">Developer</span>
                                <div class="w-2/3 ticket-value">
                                    <span *ngIf="ticket.support[0]">{{ticket.support[0].developer.fullname}}</span>
                                    <span *ngIf="!ticket.support[0]">Not yet assigned</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Comments
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md p-8">
            Content
        </div>
    </div>
</div>