<app-header></app-header>
<main>
    <div class="relative z-[-1] bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
        <div class="py-6">
            <h1 class="font-bold text-lg text-center mb-4">
                Tickets List
            </h1>
            <div class="bg-white flex flex-row border-2 border-gray-100 shadow-md p-8">
                <div class="w-3/5 bg-yellow-500 mx-1">
                    Content
                </div>
                <div class="w-2/5 bg-yellow-500 mx-1">
                    Content
                </div>
            </div>
        </div>
    </div>
</main>
