<app-header></app-header>
<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Tickets List
        </h1>
        <div #dt class="bg-white border-2 border-gray-100 shadow-md p-8">
            <p-table #ticketTable [value]="(tickets|async)!" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" selectionMode="single" responsiveLayout="scroll" [filterDelay]="1" [globalFilterFields]="['ticketNo','application.name','title','reporter.username','dateAdded','support[0].developer.username','support[0].dateTaken','status.name']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search pl-1 opacity-60"></i>
                            <input class="pl-10 py-1 border-2 border-gray-300 rounded-full text-sm" pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Tickets" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="border-b-2">
                        <th>Ticket No</th>
                        <th>App</th>
                        <th>Title</th>
                        <th>Reporter</th>
                        <th>Date Added</th>
                        <th>Developer</th>
                        <th>Date Taken</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ticket>
                    <tr>
                        <td>{{ticket.ticketNo}}</td>
                        <td>{{ticket.application.name}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.reporter.username}}</td>
                        <td>{{ticket.dateAdded | date:'longDate'}}</td>
                        <td>{{ticket.support[0]?.developer.username ? ticket.support:'-'}}</td>
                        <td>{{(ticket.support[0]?.dateTaken | date:'longDate') ? ticket.support:'-'}}</td>
                        <td>
                            <div [class]="'ticket-status-'+ticket.status.name">{{ticket.status.name}}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>