<form [formGroup]="divisionForm" (ngSubmit)="addDivision()" class="space-y-6 text-black">
    <div class="w-full">
        <input type="text" pInputText placeholder="Enter division name" formControlName="name" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter division name
        </div>
    </div>
    <div class="w-full flex flex-row items-center justify-center">
        <button type="submit" [disabled]="divisionForm.invalid || loading" class="button-primary inline-flex items-center space-x-2 scale-110">
            <i *ngIf="loading" class="pi pi-spin pi-spinner" style="font-size: 14px;"></i>
            <span>Submit</span>
        </button>
    </div>
</form>