<div class="bg-white shadow-md mb-8 p-10">
    <h1 class="font-bold text-lg text-center mb-4">
        Team Details
    </h1>
    <div class="card py-10 px-14">
        <!-- Header -->
        <div class="py-4 px-4 border-b-2 border-gray-400 lg:px-10">
            <div class="flex flex-row px-4 justify-around">
                <div class="flex flex-row items-center space-x-6">
                    <span class="font-semibold ">Team</span>
                    <span *ngIf="team" class="">{{team.name}}</span>
                    <p-skeleton *ngIf="loading || !team" width="8rem"></p-skeleton>
                </div>
                <div class="flex flex-row items-center space-x-6">
                    <span class="font-semibold ">Supervisor</span>
                    <span *ngIf="team" class="">{{team.supervisor.fullname}}</span>
                    <p-skeleton *ngIf="loading || !team" width="8rem"></p-skeleton>
                </div>
            </div>
        </div>

        <app-member-list></app-member-list>        
    </div>
</div>
