<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Account List
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md p-8">
            <p-table #accountTable [value]="accounts" [loading]="loading" [totalRecords]="totalRecords" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" selectionMode="single" responsiveLayout="scroll" [filterDelay]="0" [globalFilterFields]="['username','email','fullname','roles[0].name','isActive']">
                <ng-template pTemplate="caption">
                    <div class="px-2 flex items-center place-content-between">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search pl-1 opacity-60"></i>
                            <input class="pl-10 py-2 border-2 border-gray-300 rounded-md text-sm hover:border-gray-400" type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search Accounts" />
                        </span>
                        <div class="flex flex-row space-x-4">
                            <button (click)="refresh()" class="py-2 px-3 flex flex-row items-center space-x-2 rounded-md stroke-gray-500 text-gray-500 hover:bg-gray-300/60">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-inherit" [class.rotate]="loading" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.8">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                </svg>
                                <span class="font-medium text-sm text-inherit">Refresh</span>
                            </button>
                            <button class="bg-gray-600 rounded-md px-4 py-1 font-medium text-xs text-white hover:bg-gray-800">Add Account</button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="border-b-2">
                        <th>No</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Full Name</th>
                        <th>Division</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account let-i="rowIndex">
                    <tr routerLink="../account-detail/{{account.id}}">
                        <td>{{i+1}}</td>
                        <td>{{account.username}}</td>
                        <td>{{account.email}}</td>
                        <td>{{account.fullname}}</td>
                        <td>{{account.division.name}}</td>
                        <td>{{account.roles[0].name}}</td>
                        <td>
                            <div [class]="'account-status-'+account.isActive">{{account.isActive ? 'ACTIVE':'DISABLED'}}</div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            <div class="font-medium text-gray-400 text-center my-2">NO ACCOUNTS FOUND</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>