<form [formGroup]="requestDropForm" (ngSubmit)="requestDropSupport()" class="flex flex-col space-y-6 py-4 px-6 text-black">
    <div class="w-full">
        <label for="result" class="form-label">Result*</label>
        <input type="text" pInputText placeholder="Enter result" formControlName="result" required>
        <div *ngIf="result.invalid && (result.dirty || result.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter result
        </div>
    </div>
    <div class="w-full">
        <label for="description" class="form-label">Description*</label>
        <textarea pInputTextarea rows="5" placeholder="Enter description" formControlName="description"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter description
        </div>
    </div>
    <div class="w-full">
        <label for="devNote" class="form-label">Developer Note*</label>
        <p-editor [style]="{'height':'10rem'}" placeholder="Enter your reason for the drop request" formControlName="devNote" required></p-editor>
        <div *ngIf="devNote.invalid && (devNote.dirty || devNote.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter developer note
        </div>
    </div>
    
    <div class="w-full flex flex-row items-center justify-center space-x-6">
        <button type="submit" [disabled]="requestDropForm.invalid" class="button-primary scale-110">Submit</button>
        <button type="button" (click)="resetForm(requestDropForm)" class="button-secondary scale-110">Reset</button>
    </div>
</form>