<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Activity
        </h1>
        <div class="bg-white flex flex-row border-2 border-gray-100 shadow-md p-8">
            <div class="w-3/5 flex flex-row items-center justify-center space-x-8">
                <div class="flex flex-col items-center">
                    <div class="w-44 h-44 flex justify-center items-center border-8 border-gray-300 rounded-full">
                        <span class="font-semibold text-6xl">4</span>
                    </div>
                    <span class="font-semibold text-sm my-2">PENDING</span>
                </div>
                <div class="flex flex-col items-center">
                    <div class="w-44 h-44 flex justify-center items-center border-8 border-gray-400 rounded-full">
                        <span class="font-semibold text-6xl">2</span>
                    </div>
                    <span class="font-semibold text-sm my-2">ONGOING</span>
                </div>
                <div class="flex flex-col items-center">
                    <div class="w-44 h-44 flex justify-center items-center border-8 border-gray-500 rounded-full">
                        <span class="font-semibold text-6xl">1</span>
                    </div>
                    <span class="font-semibold text-sm my-2">CLOSED</span>
                </div>
            </div> 
            <div class="w-2/5 flex flex-col justify-between px-6">
                <div class="flex flex-row items-center justify-center space-x-4 py-4 border-b-2 border-gray-400">
                    <button class="px-4 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">This Week</button>
                    <button class="px-4 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">This Month</button>
                    <button class="px-4 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">This Year</button>
                </div>
                <div class="flex flex-col py-2 px-8">
                    <span class="font-semibold text-sm">Total Tickets</span>
                    <span class="font-regular text-4xl">7</span>
                </div>
            </div>
        </div>
    </div>

    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Analytics
        </h1>
        <div class="bg-white flex flex-row border-2 border-gray-100 shadow-md p-8">
            <div class="w-2/5 flex flex-col justify-between px-8 ">
                <div class="flex flex-row items-center justify-center space-x-4 py-4 border-b-2 border-gray-400">
                    <button class="px-6 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">Weekly</button>
                    <button class="px-6 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">Monthly</button>
                    <button class="px-6 py-2 rounded-lg font-medium text-sm focus:bg-gray-300 hover:bg-gray-200">Yearly</button>
                </div>
                <div class="grid grid-cols-2 gap-4 justify-end p-8">
                    <div class="flex flex-col">
                        <span class="font-semibold text-sm">Avg Tickets</span>
                        <span class="font-regular text-4xl">1</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-semibold text-sm">Min Tickets</span>
                        <span class="font-regular text-4xl">1</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-semibold text-sm">Total Tickets</span>
                        <span class="font-regular text-4xl">7</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-semibold text-sm">Max Tickets</span>
                        <span class="font-regular text-4xl">3</span>
                    </div>
                </div>
            </div>
            <div class="w-3/5 flex flex-row items-center justify-center">
                <p-chart type="bar" [data]="basicData" [options]="basicOption" width="30vw" height="20rem"></p-chart>
            </div>
        </div>
    </div>

    <div class="flex flex-row space-x-10">
        <div class="w-4/12 py-6">
            <h1 class="font-bold text-lg text-center mb-4">
                Top Applications
            </h1>
            <div class="bg-white h-56 flex flex-row items-center justify-around space-x-4 border-2 border-gray-100 shadow-md p-8">
                <div class="">
                    <div class="w-36 h-36 bg-gray-800 rounded-full"></div>
                </div>
                <div class="">
                    <ul class="flex flex-col space-y-1">
                        <li>
                            <span class="text-sm">CAMS</span>
                        </li>
                        <li>
                            <span class="text-sm">SMILE</span>
                        </li>
                        <li>
                            <span class="text-sm">GEOSPAC</span>
                        </li>
                        <li>
                            <span class="text-sm">OTHER</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
          
        <div class="w-5/12 py-6">
            <h1 class="font-bold text-lg text-center mb-4">
                Top Tags
            </h1>
            <div class="bg-white h-56 flex items-center justify-center border-2 border-gray-100 shadow-md p-8">
                <table class="table-auto bg-white w-full">
                    <tr>
                      <th class="border-b-2 text-left text-sm px-4 py-2">Rank</th>
                      <th class="border-b-2 text-left text-sm px-4 py-2">Tags</th>
                      <th class="border-b-2 text-left text-sm px-4 py-2">Tickets Reported</th>
                    </tr>
                    <tr>
                      <td class="text-xs px-4 py-4">1</td>
                      <td class="text-xs px-4 py-4">Error</td>
                      <td class="text-xs px-4 py-4">4</td>
                    </tr>
                    <tr>
                      <td class="text-xs px-4 py-4">2</td>
                      <td class="text-xs px-4 py-4">Bug</td>
                      <td class="text-xs px-4 py-4">2</td>
                    </tr>
                    <tr>
                      <td class="text-xs px-4 py-4">3</td>
                      <td class="text-xs px-4 py-4">Data Output</td>
                      <td class="text-xs px-4 py-4">1</td>
                    </tr>
                  </table>
            </div>
        </div>

        <div class="w-3/12 py-6">
            <h1 class="font-bold text-lg text-center mb-4">
                Ticket Rate
            </h1>
            <div class="bg-white h-56 flex flex-col space-y-2 justify-center border-2 border-gray-100 shadow-md py-8 px-16">
                <span class="font-semibold text-sm">Resolved</span>
                <span class="font-regular text-6xl">100%</span>
                <span class="font-semibold text-xs text-gray-400 border-t-2 border-gray-400 py-2">PERFECT</span>
            </div>
        </div>
    </div>

</div>

<div class="bg-white drop-shadow-lg max-w-7xl mx-auto mb-8 px-10 py-4">
    <div class="py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Activity
        </h1>
        <div class="bg-white border-2 border-gray-100 shadow-md p-8">
            Content
        </div>
    </div>
</div>