<div class="py-6">
    <h1 class="font-bold text-lg text-center mb-4">
        Ticket Analytics
    </h1>
    <div class="bg-white flex flex-row border-2 border-gray-100 shadow-md p-8">
        <div class="w-2/5 flex flex-col justify-between px-8">
            <div class="flex flex-row items-center justify-around py-6 border-b-2 border-gray-400">
                <span class="font-medium text-lg">Timeframe</span>
                <p-dropdown [options]="dashboardAnalytics" optionLabel="period" (onChange)="getAnalyticsData($event.value)" emptyMessage="Year"></p-dropdown>
                <!-- <li>
                    <input type="radio" id="weekly" name="ticket-analytics" class="hidden peer" checked>
                    <label (click)="getDashboardAnalytics()" for="weekly" class="px-6 py-2 rounded-lg font-medium text-sm peer-checked:bg-gray-300 hover:bg-gray-200 cursor-pointer">Weekly</label>
                </li>
                <li>
                    <input type="radio" id="monthly" name="ticket-analytics" class="hidden peer">
                    <label (click)="getDashboardAnalytics()" for="monthly" class="px-6 py-2 rounded-lg font-medium text-sm peer-checked:bg-gray-300 hover:bg-gray-200 cursor-pointer">Monthly</label>
                </li>
                <li>
                    <input type="radio" id="yearly" name="ticket-analytics" class="hidden peer">
                    <label (click)="getDashboardAnalytics()" for="yearly" class="px-6 py-2 rounded-lg font-medium text-sm peer-checked:bg-gray-300 hover:bg-gray-200 cursor-pointer">Yearly</label>
                </li> -->
            </div>
            <div class="grid grid-cols-2 gap-4 justify-end p-8">
                <div class="flex flex-col">
                    <span class="font-semibold text-sm">Min Tickets</span>
                    <span class="font-regular text-3xl">{{minTickets}}</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-semibold text-sm">Max Tickets</span>
                    <span class="font-regular text-3xl">{{maxTickets}}</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-semibold text-sm">Avg Tickets</span>
                    <span class="font-regular text-3xl">{{avgTickets}}</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-semibold text-sm">Total Tickets</span>
                    <span class="font-regular text-3xl">{{totalTickets}}</span>
                </div>
            </div>
        </div>
        <div class="w-3/5 flex flex-row items-center justify-center">
            <p-chart type="bar" [data]="barChartData" [options]="barChartOption" width="35rem" height="18rem"></p-chart>
        </div>
    </div>
</div>

<div class="flex flex-row space-x-10">
    <div class="w-4/12 py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Top Applications
        </h1>
        <div class="bg-white h-56 flex flex-row items-center border-2 border-gray-100 shadow-md p-8">
            <p-chart type="pie" [data]="pieChartData" [options]="pieChartOption" width="18rem" height="10rem"></p-chart>
        </div>
    </div>

    <div class="w-5/12 py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Top Tags
        </h1>
        <div class="bg-white h-56 flex items-start justify-center border-2 border-gray-100 shadow-md p-6">
            <table class="table-auto bg-white w-full">
                <tr>
                    <th class="border-b-2 text-left text-sm px-4 py-2">Rank</th>
                    <th class="border-b-2 text-left text-sm px-4 py-2">Tags</th>
                    <th class="border-b-2 text-left text-sm px-4 py-2">Tickets Reported</th>
                </tr>
                <tr *ngFor="let topTag of topTags;let i = index">
                    <td class="text-xs px-4 py-4">{{i+1}}</td>
                    <td class="text-xs px-4 py-4">{{topTag.tag}}</td>
                    <td class="text-xs px-4 py-4">{{topTag.count}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="w-3/12 py-6">
        <h1 class="font-bold text-lg text-center mb-4">
            Ticket Rate
        </h1>
        <div class="bg-white h-56 flex flex-col space-y-2 justify-center border-2 border-gray-100 shadow-md py-8 px-16">
            <span class="font-semibold text-sm">Resolved</span>
            <span class="font-regular text-6xl">{{ticketRate.rate}}</span>
            <span class="font-semibold text-xs text-gray-400 border-t-2 border-gray-400 py-2">{{ticketRate.label}}</span>
        </div>
    </div>
</div>