<div class="bg-white shadow-md mb-8 p-10">
    <h1 class="font-bold text-lg text-center mb-4">
        Account List
    </h1>
    <div class="card p-8">
        <p-table #accountTable [value]="accounts" [loading]="loading" [totalRecords]="totalRecords" [paginator]="true" [rows]="8" [showCurrentPageReport]="true" selectionMode="single" responsiveLayout="scroll" [filterDelay]="0" sortField="fullname" [sortOrder]="1"
            [globalFilterFields]="['username','email','fullname','roles[0].name','division.name','isActive']">
            <ng-template pTemplate="caption">
                <div class="px-2 flex items-center justify-between">
                    <button pSortableColumn="fullname">Sort Name<p-sortIcon field="fullname"></p-sortIcon></button>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search pl-1 opacity-60"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Filter Accounts" />
                    </span>
                    <div class="flex flex-row space-x-4">
                        <button (click)="getAllAccounts()" class="py-2 px-3 flex flex-row items-center space-x-2 rounded-md text-gray-500 hover:bg-gray-300/60">
                            <i class="pi pi-sync" [ngClass]="loading ? 'pi-spin':''" style="font-size:14px"></i>
                            <span class="text-sm text-inherit">Refresh</span>
                        </button>
                        <button *appHasRole="['ADMIN']" (click)="showAddAccountDialog()" class="button-primary">Add Account</button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="body" let-account>
                <a routerLink="./{{account.id}}" class="table-list grid grid-cols-2 auto-cols-auto gap-6 py-4 px-6 md:grid-cols-4 lg:grid-cols-8">
                    <div class="col-span-1">
                        <div class="aspect-square w-full h-full flex items-center justify-center p-2 bg-white shadow-md">
                            <img [src]="imageUrl+account.id" alt="Profile" class="rounded-full w-full h-full">
                        </div>
                    </div>
                    <div class="col-span-1 lg:col-span-2">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 py-2">
                            <div class="flex flex-col">
                                <span class="font-semibold text-base uppercase break-words">{{account.fullname}}</span>
                                <span class="font-regular text-sm">{{account.roles[0].name}}</span>
                            </div>
                            <div class="flex flex-row items-center space-x-2">
                                <div [class]="'account-status-'+account.isActive" class="p-1.5 rounded-full"></div>
                                <span class="font-medium text-xs">{{account.isActive ? 'ACTIVE':'DISABLED'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 lg:col-span-2">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 py-2">
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Username</span>
                                <span class="font-regular text-sm text-gray-500">{{account.username}}</span>
                            </div>
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Email</span>
                                <span *ngIf="account.email" class="font-regular text-sm text-gray-500">{{account.email}}</span>
                                <span *ngIf="!account.email" class="font-regular text-sm text-gray-500">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1 lg:col-span-2">
                        <div class="w-full h-full flex flex-col justify-between space-y-2 py-2">
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Division</span>
                                <span class="font-regular text-sm text-gray-500">{{account.division.name}}</span>
                            </div>
                            <div class="flex flex-col justify-center">
                                <span class="font-medium text-xs">Contact No</span>
                                <span *ngIf="account.contactNo" class="font-regular text-sm text-gray-500">{{account.contactNo}}</span>
                                <span *ngIf="!account.contactNo" class="font-regular text-sm text-gray-500">-</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="w-full h-full flex items-center lg:justify-center">
                            <a routerLink="/account-detail/{{account.accountId}}" class="flex flex-row space-x-2 items-center hover:text-gray-500">
                                <i class="pi pi-chevron-circle-right" style="font-size: 16px;"></i>
                                <span class="font-medium text-xs">View Details</span>
                            </a>
                        </div>
                    </div>
                </a>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div class="font-medium text-sm text-gray-400 text-center my-10">NO ACCOUNTS FOUND</div>
            </ng-template>
        </p-table>
    </div>
</div>