<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-row space-x-3 items-center justify-center py-10">
        <img src="assets/image/logo.png" alt="Tracc App Logo" class="h-10">
        <h1 class="text-center font-medium text-4xl italic tracking-widest">TRACC APP</h1>
    </div>

    <div class="w-full max-w-md bg-white rounded-md px-12 py-8 drop-shadow-lg flex flex-col space-y-4">
        <h3 class="font-semibold text-xl text-center">LOGIN</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col space-y-4">
            <div class="flex flex-col space-y-1">
                <label for="username" class="form-label">Username</label>
                <input pInputText type="text" placeholder="Enter your username" class="p-inputtext-sm form-field" formControlName="username" required>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="font-regular text-xs text-red-400">
                    Username is required
                </div>
            </div>
            <div class="flex flex-col space-y-1">
                <label for="password" class="form-label">Password</label>
                <span class="p-input-icon-right">
                        <i *ngIf="show" (click)="show=false" class="pi pi-eye-slash cursor-pointer"></i>
                        <i *ngIf="!show" (click)="show=true" class="pi pi-eye cursor-pointer"></i>
                        <input pInputText [type]="show ? 'text' : 'password'" placeholder="Enter your password" class="p-inputtext-sm form-field" formControlName="password" required>
                    </span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="font-regular text-xs text-red-400">
                    Password is required
                </div>
            </div>
            <div class="flex items-center justify-center pt-4">
                <button [disabled]="loginForm.invalid" type="submit" class="px-6 py-1.5 bg-gray-600 rounded hover:bg-gray-800 text-white text-sm disabled:text-gray-600 disabled:bg-gray-300 disabled:border-gray-300">Login</button>
            </div>
        </form>
    </div>

    <div class="max-w-lg py-8 scale-90">
        <p-messages></p-messages>
    </div>
</div>