<form [formGroup]="ticketForm" (ngSubmit)="addTicket()" class="flex flex-col space-y-6 py-4 text-black">
    <div class="w-full">
        <label for="application" class="form-label">Application*</label>
        <p-dropdown class="" [options]="applications" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Select application" formControlName="applicationId"></p-dropdown>
        <div *ngIf="applicationId.invalid && applicationId.touched" class="font-regular text-sm text-red-400 pt-1">
            Please select application
        </div>
    </div>
    <div class="w-full">
        <label for="title" class="form-label">Title*</label>
        <input type="text" pInputText placeholder="Enter title" class="form-field" formControlName="title" required>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter title
        </div>
    </div>
    <div class="w-full">
        <label for="description" class="form-label">Description*</label>
        <input type="text" pInputText placeholder="Enter description" class="form-field" formControlName="description">
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter description
        </div>
    </div>
    <div class="w-full">
        <label for="attachments" class="form-label">Attachments</label>
        <button type="button" (click)="fileInput.click()" class="w-full h-40 border-dashed text-sm text-gray-400 rounded-md border-2 border-gray-300 flex justify-center items-center hover:border-gray-400 hover:text-gray-500 hover:bg-gray-100/60">
            <div class="flex flex-col items-center space-y-1"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                </svg>
                <span class="font-medium">Browse files</span>
            </div>
            <input #fileInput multiple type="file" class="hidden" (change)="onSelectFile($event)"/>
        </button>
        <span class="text-sm">{{ticketAttachments.length}} file(s) chosen</span>
        <div *ngIf="ticketAttachments.length > 0" class="flex flex-col space-y-1 py-4">
            <div *ngFor="let file of ticketAttachments;let index = index" class="flex flex-row items-center justify-between rounded-md bg-gray-100 px-3 py-2">
                <span>{{file.name}}</span>
                <button (click)="removeFile(index)" class="p-2 rounded-full hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                </button>
            </div>
        </div>
    </div>
    
    <div class="w-full flex flex-row items-center justify-center space-x-4">
        <button type="submit" [disabled]="ticketForm.invalid" class="w-24 bg-gray-600 border-2 border-gray-600 rounded-md px-6 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800 disabled:text-gray-600 disabled:bg-gray-300 disabled:border-gray-300">Submit</button>
        <button type="button" (click)="resetForm(ticketForm)" class="w-24 bg-white border-2 border-gray-400 rounded-md px-6 py-1.5 font-medium text-xs text-gray-600 hover:bg-gray-400 hover:text-white">Reset</button>
    </div>
</form>