/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
    background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(242,242,242,1) 49%, rgba(237,237,237,1) 100%);
}

.p-component{
    font-family: "Montserrat", sans-serif !important;
}

.p-datatable-header{
    @apply bg-gray-100 !important;
}

.p-inputtext {
    @apply w-full ring-0 border-2 text-black border-gray-300 placeholder:text-gray-500 hover:border-gray-400 focus:border-gray-400 !important;
}

.p-paginator {
    @apply text-sm !important;
}

.p-paginator .p-paginator-page{
    @apply font-medium text-sm text-gray-500 ring-0 hover:bg-gray-100/80 !important;
}

.p-paginator .p-link{
    @apply font-medium text-sm text-gray-500 ring-0 hover:bg-gray-100/80 !important;
}

.p-paginator .p-highlight{
    @apply border-gray-400 bg-gray-100 hover:bg-gray-100 text-inherit !important;
}

.p-skeleton {
    @apply bg-gray-200 !important;
}

.p-autocomplete {
    @apply w-full ring-0 outline-none rounded-md border-2 border-gray-300 hover:border-gray-400 font-montserrat !important;
}

.p-autocomplete-dropdown {
    @apply bg-transparent text-gray-500 ring-0 outline-none border-none !important;
}

.p-autocomplete .p-autocomplete-multiple-container {
    @apply w-full ring-0 border-none bg-transparent flex-nowrap overflow-auto !important;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-input-token input {
    @apply w-full ring-0 border-none outline-none font-montserrat placeholder:text-gray-500 !important;
}

.p-autocomplete-token {
    @apply rounded-full bg-gray-500 hover:bg-gray-600 text-sm text-white items-center !important;
}

.p-autocomplete-token-icon {
    @apply text-sm !important;
}

.p-dropdown {
    @apply w-full ring-0 border-2 border-gray-300 hover:border-gray-400 font-montserrat !important;
}

.p-dropdown-label {
    @apply p-3 font-montserrat !important;
}

.p-editor-container {
    @apply w-full ring-0 rounded-md border-2 border-gray-300 hover:border-gray-400 !important;
}

.p-editor-toolbar {
    @apply w-full ring-0 border-none font-montserrat !important;
}

.p-editor-content {
    @apply w-full ring-0 bg-white outline-none border-none font-montserrat !important;
}

.p-editor-container .p-editor-content .ql-editor{
    @apply bg-white border-none !important;
}

.p-inputswitch {
    @apply flex items-center !important;
}

.p-inputswitch-slider {
    @apply ring-0 outline-none !important;
}

.p-inputswitch-checked .p-inputswitch-slider {
    @apply bg-gray-500 hover:bg-gray-600 !important;
}

.drag-area{
    @apply w-full h-48 border-dashed text-sm text-gray-400 rounded-md border-2 border-gray-400 flex justify-center items-center bg-gray-100/60;
}

.form-label{
    @apply font-medium !important;
}

.form-field{
    @apply disabled:pointer-events-none !important;
}

.button-primary{
    @apply w-auto bg-gray-600 border-2 border-gray-600 rounded-md px-4 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800 disabled:text-gray-600 disabled:bg-gray-300 disabled:border-gray-300;
}

.button-secondary{
    @apply w-auto bg-white border-2 border-gray-400 rounded-md px-4 py-1.5 font-medium text-xs text-gray-600 hover:bg-gray-400 hover:text-white disabled:text-gray-300 disabled:bg-white disabled:border-gray-300;
}

.ticket-status-PENDING{
    @apply bg-gray-200 !important;
}

.ticket-status-IN_PROGRESS{
    @apply bg-gray-300 !important;
}

.ticket-status-RESOLVED{
    @apply bg-gray-400 text-white  !important;
}

.ticket-status-CLOSED{
    @apply bg-gray-500 text-white  !important;
}

.ticket-status-DROPPED{
    @apply bg-gray-600 text-white  !important;
}

.account-status-true{
    @apply bg-gray-500 text-white !important;
}

.account-status-false{
    @apply bg-gray-300 !important;
}