/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Montserrat", sans-serif;
    background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(242,242,242,1) 49%, rgba(237,237,237,1) 100%);
}

body .p-component{
    font-family: "Montserrat", sans-serif !important;
}

body .p-skeleton {
    @apply bg-gray-200 !important;
}

.button-primary{
    @apply w-auto bg-gray-600 border-2 border-gray-600 rounded-md px-4 py-1.5 font-medium text-xs text-white hover:bg-gray-800 hover:border-gray-800 disabled:text-gray-600 disabled:bg-gray-300 disabled:border-gray-300;
}

.button-secondary{
    @apply w-auto bg-white border-2 border-gray-400 rounded-md px-4 py-1.5 font-medium text-xs text-gray-600 hover:bg-gray-400 hover:text-white disabled:text-gray-300 disabled:bg-white disabled:border-gray-300;
}

tr{
    @apply focus:outline-gray-300 !important;
}

th{
    @apply font-semibold text-sm text-black bg-white focus:ring-0 !important;
}

td{
    @apply font-regular text-sm text-black cursor-pointer !important;
}