<div *ngIf="notification" class="space-y-8 p-8">
    <div class="flex flex-row items-start justify-between">
        <span class="font-semibold text-2xl">{{notification.title}}</span>
        <div class="flex flex-col items-end">
            <span class="font-semibold text-xs">{{notification.createdAt | date:'d MMMM y'}}</span>
            <span class="font-medium text-xs">{{notification.createdAt | date:'h:mm a'}}</span>
        </div>
    </div>
    <div class="flex flex-col space-y-10">
        <p class="text-sm text-justify">{{notification.body}}</p>
        <div *ngIf="data" class="flex flex-col">
            <span class="font-medium text-sm">Check Ticket:</span>
            <a routerLink="/ticket-detail/{{data.ticketId}}" class="font-semibold text-gray-400 hover:text-gray-500">{{data.ticketNo}}</a>
        </div>
    </div>
</div>

<div *ngIf="!notification" class="h-full w-full flex justify-center items-center">
    <span class="text-gray-400">Click to preview notification</span>
</div>