<div class="flex flex-col space-y-6">
    <p-table #reportTable [value]="developers" [loading]="loading" selectionMode="single" [(selection)]="selectedDeveloper" dataKey="id" [scrollable]="true" scrollHeight="300px" [responsive]="true" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th class="font-medium">Developers</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-developer>
            <div [pSelectableRow]="developer" class="grid grid-cols-5 auto-cols-auto gap-2 p-2 transition ease-in-out duration-100 hover:border-l-4 hover:rounded-l-sm hover:bg-gray-100/40 hover:border-gray-200 cursor-pointer">
                <div class="col-span-1">
                    <div class="w-full h-full flex items-center justify-center">
                        <img [(src)]="imageUrl+developer.id" alt="Profile" class="rounded-full w-12">
                    </div>
                </div>
                <div class="col-span-3">
                    <div class="w-full h-full flex flex-col justify-between py-2">
                        <div class="flex flex-col">
                            <span class="font-medium text-sm">{{developer.fullname}}</span>
                            <span class="text-sm">{{developer.division.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="w-full h-full flex items-center justify-center">
                        <div *ngIf="selectedDeveloper === developer" class="text-gray-400">
                            <i class="pi pi-check-circle" style="font-size: 1.4rem"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="font-medium text-sm text-gray-400 text-center my-10">NO DEVELOPERS FOUND</div>
        </ng-template>
    </p-table>
    <div class="w-full flex flex-row items-center px-2 space-x-4">
        <span class="font-medium text-black">Selected:</span>
        <span class="text-black">{{selectedDeveloper?.fullname ?? 'Not yet selected'}}</span>
    </div>
    <div class="w-full flex flex-row items-center justify-center space-x-6">
        <button (click)="showConfirmationDialog('Reassign Ticket','Do you want to reassign ticket to this developer?')" [disabled]="!selectedDeveloper" type="button" class="w-24 button-primary scale-110">Select</button>
    </div>
</div>
