<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="flex flex-col space-y-6 py-4 px-6 text-black">
    
    <div class="w-full">
        <label for="username" class="form-label">Current Password</label>
        <input type="text" pInputText placeholder="Enter current password" class="form-field" formControlName="currentPassword">
        <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)" class="font-regular text-sm text-red-400 pt-1">
            Please enter current password
        </div>
    </div>
    <div class="w-full">
        <label for="fullname" class="form-label">New Password</label>
        <input type="text" pInputText placeholder="Enter new password" class="form-field" formControlName="newPassword">
        <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="font-regular text-sm text-red-400 pt-1">
            <div *ngIf="newPassword.errors?.['required']">
                Please enter new password
            </div>
            <div *ngIf="newPassword.errors?.['minlength']">
                Password must be at least 6 characters long.
            </div>
        </div>
    </div>
    <div class="w-full flex flex-row items-center justify-center space-x-6">
        <button [disabled]="passwordForm.invalid" type="submit" class="button-primary scale-110">Submit</button>
        <button type="button" (click)="resetForm(passwordForm)" class="button-secondary scale-110">Reset</button>
    </div>
</form>